@model FactoryLineMKYA.Models.Modelsap.ViewFormmain;
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/jsCalendar.js"></script>
<div class="card">

    <div class="row top-bar">
        <div class="col-lg-3">
            <img src="~/images/Stanley_Electric_logo.svg.png" class="img-logo" />
        </div>
        <div class="col-lg-9">
            <div class="top-right">
                <h1>Assembly GR & Production Results</h1>
                <p>Enter production and material information to record assembly GR and production results.</p>
            </div>
        </div>
    </div>
    <hr>
    <form action="" id="formRequest" name="formRequest">
        <div class="row">
            <div class="form-group">
                <label>Production Date</label>
                <input type="text" asp-for="prodDate" readonly class="forminput" style="background-color:lightgray;width:200px">
            </div>
            <div class="form-group">
                <label>Plant</label>
                <input type="text" asp-for="plant" readonly class="forminput" style="background-color:lightgray">
            </div>
            <div class="form-group">
                <label>Production Line</label>
                <input type="text" asp-for="prodLine" readonly class="forminput" style="background-color:lightgray">
            </div>
        </div>
        @*<div class="row">
                <div class="form-group">
                    <label>Plant</label>
                    <input type="text" asp-for="plant" readonly class="forminput" style="background-color:lightgray">
                </div>

                <div class="form-group">
                    <label>Production Line</label>
                    <input type="text" asp-for="prodLine" readonly class="forminput" style="background-color:lightgray">
                </div>
            </div>*@
        <hr>
        <div class="row">
            <div class="form-group full-width">
                <label>Production Order <span>*</span></label>
                <input type="text" placeholder="Enter production order" class="forminput" id="id_prodOrder" asp-for="prodOrder">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label>Material <span>*</span></label>
                <input type="text" placeholder="Enter material" asp-for="Material" id="id_Material" class="forminput">
            </div>

            <div class="form-group">
                <label>Delivery Date <span>*</span></label>
                @Html.TextBoxFor(m => m.delDate, "{0:dd/MM/yyyy}",new { @class = "forminput datePicker", @id = "id_delDate",@placeholder = "Select Delivery date"})
            </div>
        </div>
    </form>
    <div class="action">
        @*<button class="btn-clear">Clear</button>*@
        <button class="btn-search" onclick="jsFunctiongetorder('@Url.Action("GetProductionOrder", "Home")')">Search</button>
    </div>

</div>





<script>
    $('.datePicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true
    });

</script>
